# Dossiers de données et modèles
data/
evaluation_results/
runs/
run_logs/
logs/
confusion_analysis/
benchmark_results/

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz

# Fichiers de configuration
.env
.git
.gitignore
.gitattributes
*.log
crypto.key

# Autres
README.md
docker-compose.yml

# Ne pas ignorer le dossier image-test-apprentissage
!image-test-apprentissage/ 